@font-face {
    font-family: 'Reef';
    src: local('Reef Bold'), local('Reef-Bold'), url('Reefbold.woff2') format('woff2'), url('Reefbold.woff') format('woff'), url('Reefbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
