	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/10/2018 08:32
  	*/


@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  width: 70px;
  height: 70px;
  position: relative;
  display: flex;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-bee:before { content: "\f100"; }
.flaticon-hook:before { content: url(/docroot/images/icons/vent.png); }
.flaticon-skyline:before { content: url(/docroot/images/icons/otoplenie.png); }
.flaticon-home:before { content: url(/docroot/images/icons/holodos.png); }
.flaticon-stairs:before { content: url(/docroot/images/icons/conder.png); }
.flaticon-poz:before { content: url(/docroot/images/icons/poz.png); }
.flaticon-montaz:before { content: url(/docroot/images/icons/montaz.png); }
.flaticon-engineer:before { content: "\f105"; }
.flaticon-engineer-1:before { content: "\f106"; }
.flaticon-engineer-2:before { content: "\f107"; }
